#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Terminal
Comment=Command line interface
Exec=/bin/shell.elf
Icon=terminal
Categories=System;
Terminal=true
Type=Application
Hidden=false
